<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li><a href="~/"><i class="fa fa-home"></i><span>Trang chủ</span></a></li>


            <li class="active treeview">
                <a href="#">
                    <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/supplier">Nhà cung cấp</a></li>
                    <li><a href="~/customer">Khách hàng</a></li>
                    <li><a href="~/shipper">Người giao hàng</a></li>
                    <li><a href="~/employee">Nhân viên</a></li>
                    <li><a href="~/Category">Loại hàng</a></li>
                    <li><a href="~/Product">Mặt hàng</a></li>
                </ul>         
            </li>
            <li class="active treeview">
                <a href="#">
                    <span>Bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/order">Tra cứu đơn hàng</a></li>
                    <li><a href="~/order/create">Lập đơn hàng</a></li>

                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>